{% extends "budgetsapp/budget_base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}
	<div class="col-md-6 order-md-1">
		{% if expense.pk != null  %}
			<h4>Actualizar gasto</h4>
		{% else %}
			<h4>Crear un nuevo gasto</h4>
		{% endif %}	
		<form method="POST" id="myForm">
			{% csrf_token %}
			{% bootstrap_form form %}
			
			{% if expense.pk != null  %}
				<input type="submit" class='btn btn-primary btn-large' value="Actualizar">
			{% else %}
				<input type="submit" class='btn btn-primary btn-large' value="Crear">
			{% endif %}	
		</form>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
    	var static_url = "{% url 'categorias:create' %}";
	</script>
	<script src="{% static 'misgastos/js/expense_form.js' %}" type="text/javascript" ></script>
{% endblock %}
