<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="col order-1">
		<div class="list-budget">
			{% if object_list.count == 0  %}
				<h1>Todavia no tienes Cafes.</h1>
			{% endif %}
			{% for budget in object_list %}
				<div class='list-group-item list-group-item-action'>
					<a class="list-group-item" href="{% url 'coffee:single' pk=budget.pk %}">
						<h3 class='title list-group-item-heading'>{{budget.coffeeName|title}}</h3>
					</a>
				</div>
			{% endfor %}
		</div>	
	</div>
</body>
</html>
