{% extends "budgetsapp/budget_base.html" %}

{% block pregroup %}
	<div class="col">
		<div class="content">
			{% if user.is_authenticated  %}
				<h2>Hola {{user.username}}!</h2>
			{% endif %}	
			<h3>Mis Inversiones</h3>
			{% if user.is_authenticated  %}
				<a href="{% url 'inversiones:create' %}" class='btn btn-md btn-fill btn-warning'>
					Crear nueva inversion
				</a>
			{% endif %}	
		</div>	
	</div>
	
{% endblock %}

{% block postgroup %}

<div class="col order-1">
  <div class="alert alert-success" id="amount_usd" role="alert">
    USD: {{ amount_usd }}
  </div>
  <div class="alert alert-success" id="amount_ars" role="alert">
      ARS: {{ amount_ars }}
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
      function updateCounters(){
        var ingresos = {{ amount_usd }};
        var ingresos_string = ingresos.toString();
        var i = 0;
        var factor = ingresos / ingresos_string.length / 10 ;
        
        refreshId_ingresos = setInterval(function(){ 
          i = i + factor;
          if(i < ingresos) {
            $("#amount_usd").html("USD: " + i.toFixed(2)); 
          }
          else {
            $("#amount_usd").html("USD: " + ingresos); 
            clearInterval(refreshId_ingresos);
          }
        }, 1 * 50);


        var egresos = {{ amount_ars }};
        var egresos_string = egresos.toString();
        var i = 0;
        var factor_egresos = egresos / egresos_string.length / 10 ;
        refreshId_egresos = setInterval(function(){ 
          i = i + factor_egresos;
          if(i < egresos) {
            $("#amount_ars").html("ARS: " + i.toFixed(2)); 
          }
          else {
            $("#amount_ars").html("ARS: " + egresos); 
            clearInterval(refreshId_egresos);
          }
        }, 1 * 50)

      }
      updateCounters()

  </script>

  <script type="text/javascript">
    function updateInvestments(){
      $.ajax({
                  type:"POST",
                  url: "{% url 'inversiones:update_investments'%}",
                  data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                  },
                  dataType: 'json'
                });
    }
    updateInvestments()
  </script>

{% endblock %}


{% block footer %} 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <div class="container-fluid">
    <table class="table table-striped order-list">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titulo</th>
          <th scope="col">Tipo</th>
          <th scope="col">Fecha</th>
          <th scope="col">Monto</th>
          <th scope="col">Rate Inicial</th>
          <th scope="col">Rate Actual</th>
          <th align="center">Monto Inicial ( USD )</th>
          <th align="center">Monto Actual ( USD )</th>
          <th align="center">Monto Actual ( ARS )</th>
          <th align="center">Estado</th>
          <th align="center">Editar</th>
          <th align="center">Borrar</th>
        </tr>
      </thead>
      <tbody>
        {% for investment in object_list %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ investment.name }}</td>
            <td>{{ investment.factor.name }}</td>
            <td>{{ investment.create_date|date:"d M Y" }}</td>
            <td>{{ investment.amount }}</td>
            <td>{{ investment.initial_rate }}</td>
            <td>{{ investment.get_actual_rate }}</td>
            <td>{{ investment.get_initial_amount }}</td>
            <td>{{ investment.get_actual_amount }}</td>
            <td>{{ investment.get_actual_amount_ars }}</td>
            <td>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                {% if investment.get_actual_rate >=  investment.initial_rate %}
                  <button type="button" class="btn btn-success btn-custom-class" disabled="true">Good!</button> 
                {% else %}
                  <button type="button" class="btn btn-danger btn-custom-class" disabled="true">Bad!</button>
                {% endif %}
              </div>
            </td>
            <td align="left">
              <a href="{% url 'inversiones:update' pk=investment.pk %}">
                <i class='fas fa-pencil-alt' alt="Editar"></i>
              </a>
            </td>
            <td align="left">
              <a href="{% url 'inversiones:delete' pk=investment.pk %}">
                <i class='far fa-trash-alt' alt="Eliminar"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  <div class="container-fluid">
    <h1>Conversion</h1>
    <table class="table table-striped order-list">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Última Actualización</th>
          <th scope="col">Último Valor</th>
          <th scope="col">Activo para elegir</th>
        </tr>
      </thead>
      <tbody>
        {% for conversion_obj in conversion_object_list %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ conversion_obj.name }}</td>
            <td>{{ conversion_obj.last_update }}</td>
            <td>{{ conversion_obj.last_quote }}</td>
            <td>{{ conversion_obj.active_for_selection }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

 {% endblock %}