{% extends "budgetsapp/budget_base.html" %}
{% load bootstrap3 %}

{% block pregroup %}
	<div class="col">
		<h1>{{ budget.name }}</h1>
		<h3>{{ budget.description }}</h3>
	</div>
{% endblock %}

{% block postgroup %}
	
	<div class="col order-1">
		<div class="alert alert-success" role="alert">
  			Ingresos: {{ ingresos }}
		</div>
		<div class="alert alert-danger" role="alert">
  			Egresos: {{ egresos }}
		</div>
	</div>

{% endblock %}

{% block footer %} 

  <table class="table table-striped order-list">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titulo</th>
        <th scope="col">Categoria</th>
        <th scope="col">Monto</th>
        <th scope="col">Gasto</th>
      </tr>
    </thead>
    <tbody>
      {% for expense in budget.expenses.all %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{expense.name}}</td>
          <td>{{expense.category}}</td>
          <td>{{expense.amount}}</td>
          <td>
            {% if expense.gasto == True %}
              <div class="form-check">
                <input type="checkbox" class="form-check-input" checked>
                <label class="form-check-label"></label>
              </div>
            {% else %}
              <div class="form-check">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label"></label>
              </div>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
  
$(document).ready(function () {
    var counter = $("table.order-list")[0].rows.length;

    $("#addrow").on("click", function () {
        var newRow = $("<tr>");
        var cols = "";

        cols += '<td>' + counter + '</td>';
        cols += '<td><input type="text" class="form-control" name="mail' + counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" name="phone' + counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" name="phone' + counter + '"/></td>';
        cols += '<td><div class="form-check"><input type="checkbox" class="form-check-input" checked></div></td>';

        cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
        newRow.append(cols);
        $("table.order-list").append(newRow);
        counter++;
    });



    $("table.order-list").on("click", ".ibtnDel", function (event) {
        $(this).closest('tr').find('td input').each(function(){
          console.log($(this).val());
        });

        counter -= 1
    });


});



</script>

  <a id="addrow" class='btn btn-md btn-fill btn-primary'>
          Crear nuevo gasto
        </a>

{% endblock %}

