{% extends "budgetsapp/budget_base.html" %}
{% load bootstrap3 %}

{% block pregroup %}
  <div class="col">
		<h1>{{ budget.name|title }}</h1>
		<h5>{{ budget.description }}</h5>
    <a href="{% url 'presupuesto:update' pk=budget.pk %}" class='btn btn-md btn-fill btn-warning'>Modificar</a>
    <a href="{% url 'presupuesto:delete' pk=budget.pk %}" class='btn btn-md btn-fill btn-danger'>Eliminar</a>
	</div>
  <div class="col my-auto">
    <a href="{% url 'presupuestos:detail_summary' pk=budget.pk %}">
      <input type="submit" class='btn btn-primary btn-large' value="Cuenta regresiva">  
    </a>
  </div>
{% endblock %}

{% block postgroup %}
	
	<div class="col order-1">
    <div class="alert alert-success" id="ingresos" role="alert">
      Ingresos: {{ ingresos }}
    </div>
    <div class="alert alert-danger" id="egresos" role="alert">
        Egresos: {{ egresos }}
    </div>
    <div class="alert alert-danger" id="tarjeta_credito" role="alert">
        Tarjeta de Credito: {{ tarjeta_credito }}
    </div>
	</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
      function updateCounters(){
        var ingresos = {{ ingresos }};
        var ingresos_string = ingresos.toString();
        var i = 0;
        var factor = ingresos / ingresos_string.length / 10 ;
        
        refreshId_ingresos = setInterval(function(){ 
          i = i + factor;
          if(i < ingresos) {
            $("#ingresos").html("Ingresos: " + i.toFixed(2)); 
          }
          else {
            $("#ingresos").html("Ingresos: " + ingresos); 
            clearInterval(refreshId_ingresos);
          }
        }, 1 * 50);


        var egresos = {{ egresos }};
        var egresos_string = egresos.toString();
        var i = 0;
        var factor_egresos = egresos / egresos_string.length / 10 ;
        refreshId_egresos = setInterval(function(){ 
          i = i + factor_egresos;
          if(i < egresos) {
            $("#egresos").html("Egresos: " + i.toFixed(2)); 
          }
          else {
            $("#egresos").html("Egresos: " + egresos); 
            clearInterval(refreshId_egresos);
          }
        }, 1 * 50)


        var egresos_tc = {{ tarjeta_credito }};
        var egresos_tc_string = egresos_tc.toString();
        var i = 0;
        var factor_egresos_tc = egresos_tc / egresos_tc_string.length / 10 ;
        refreshId_egresos_tc = setInterval(function(){ 
          i = i + factor_egresos_tc;
          if(i < egresos_tc) {
            $("#tarjeta_credito").html("Tarjeta de Credito: " + i.toFixed(2)); 
          }
          else {
            $("#tarjeta_credito").html("Tarjeta de Credito: " + egresos_tc); 
            clearInterval(refreshId_egresos_tc);
          }
        }, 1 * 50)
      }
      updateCounters()

  </script>

{% endblock %}

{% block footer %} 
  <div class="container-fluid">
    <table class="table table-striped order-list">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titulo</th>
          <th scope="col">Categoria</th>
          <th scope="col">Monto</th>
          <th scope="col">Gasto</th>
          <th scope="col">Tarjeta Credito</th>
          <th align="center">Pagado</th>
          <th align="center">Edit</th>
          <th align="center">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for expense in budget.expenses.all %}
            <tr id={{ expense.pk }} >
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{expense.name}}</td>
              <td>{{expense.category}}</td>
              <td>{{expense.total_amount}}</td>
              <td>
                {% if expense.gasto == True %}
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" disabled="true" checked>
                    <label class="form-check-label"></label>
                  </div>
                {% else %}
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" disabled="true">
                    <label class="form-check-label"></label>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if expense.tarjeta_credito == True %}
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" disabled="true" checked>
                    <label class="form-check-label"></label>
                  </div>
                {% else %}
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" disabled="true">
                    <label class="form-check-label"></label>
                  </div>
                {% endif %}
              </td>
              <td>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    {% if expense.gasto != True %}
                      <button type="button" class="btn btn-primary btn-custom-class" disabled="true">Ingreso</button> 
                    {% elif expense.is_paid == True %}
                      <button type="button" class="btn btn-success btn-custom-class" disabled="true">Pagado</button> 
                    {% elif expense.is_credit_card == True %}
                      
                    {% else %}
                      <button type="button" class="btn btn-danger btn-custom-class">Pendiente ( {{expense.cantidad_pendiente }})</button>
                    {% endif %}
                </div>
              </td>
              <td align="left">
                <a href="{% url 'gastos:update_expense' pk=expense.pk %}">
                  <i class='fas fa-pencil-alt' alt="Editar"></i>
                </a>
              </td>
              <td align="left">
                <a href="{% url 'gastos:delete_expense' pk=expense.pk %}">
                  <i class='far fa-trash-alt' alt="Eliminar"></i>
                </a>
                
              </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

  <script>
        $(".btn-custom-class").on('click', function(event) {
          
            //$(this).removeClass("btn-success")
            //$(this).addClass("btn-danger")
            //$(this).text("Pendiente")
            //console.log("Removed class")  
          //}
          if( $(this).hasClass("btn-danger") ){
            
            var previous_text = $(this).text()

            $(this).attr('disabled', true)
            $(this).text("In progress...")

            var myid = $(this).closest('tr').attr('id')

            $(this).animate({
              opacity: '0.5',
            });

            if( $(this).hasClass("btn-danger") ){
              
              var _self_ = $(this)
              $.ajax({
                type:"POST",
                url: "{% url 'gastos:pay_expense'%}",               //url: '/ajax/validate_username/',
                data: {
                  csrfmiddlewaretoken: "{{ csrf_token }}", 
                  'myid': myid
                },
                dataType: 'json',
                success: function (data) {
                  if (data.ajax_answer) {
                    if ( data.cantidad_pendiente == '0') {
                      $(_self_).removeClass("btn-danger")
                      $(_self_).addClass("btn-success")
                      $(_self_).text("Pagado")
                    }
                    else
                    {
                      $(_self_).text("Pendiente ( " + data.cantidad_pendiente + " )") 
                      $(_self_).attr('disabled', false)
                      $(_self_).animate({
                        opacity: '1',
                      });
                    }

                  }
                  else {
                    alert('Unable to update.')
                    $(_self_).attr('disabled', false)
                    $(_self_).text(previous_text)
                  }
                  
                  $(_self_).animate({
                      opacity: '1',
                    });
                    
                },
                error: function (request, status, error) {
                      window.location.href = "{% url 'accountsapp:login' %}"
                  }

              });


              //$(this).removeClass("btn-danger")
              //$(this).addClass("btn-success")
              //$(this).text("Pagado")
            }

          }

            event.preventDefault()
        });

    </script>
    <a href="{% url 'presupuesto:create_expense' pk=budget.pk %}" class='btn btn-md btn-fill btn-primary'>
          Crear nuevo ingreso / gasto
        </a>
  </div>
{% endblock %}

