{% extends "budgetsapp/budget_base.html" %}
{% load bootstrap3 %}

{% block pregroup %}
  <div class="col">
		<h1>{{ budget.name|title }}</h1>
		<h5>{{ budget.description }}</h5>
    <a href="{% url 'presupuesto:update' pk=budget.pk %}" class='btn btn-md btn-fill btn-warning'>Modificar</a>
    <a href="{% url 'presupuesto:delete' pk=budget.pk %}" class='btn btn-md btn-fill btn-danger'>Eliminar</a>
	</div>
    <div class="col my-auto">
    <a href="{% url 'presupuestos:detail' pk=budget.pk %}">
      <input type="submit" class='btn btn-primary btn-large' value="Detalle">  
    </a>
  </div>
{% endblock %}

{% block postgroup %}
	
	<div class="col order-1">
    {% if balance > 0 %}
      <div class="alert alert-success" id="balance" role="alert">
        Balance ( Disponible para gastar por día ): {{ balance }}      
      </div>
    {% else %}
      <div class="alert alert-danger" id="balance" role="alert">
        Balance ( Faltante por día ) : {{ balance }}      
      </div>
    {% endif %}
    <div class="alert alert-danger" id="balance" role="alert">
        Gastos Pendientes : {{ egresos_pendientes }}      
      </div>
    <div class="alert alert-info" id="daysleft" role="alert">
        Dias Faltantes: {{ days_left }}
    </div>
	</div>

  {% if days_left == '' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        var ingresos = {{ ingresos }};
        var ingresos_string = ingresos.toString();
        var i = 0;
        var factor = ingresos / ingresos_string.length / 10 ;
        refreshId_ingresos = setInterval(function(){ 
          i = i + factor;
          if(i < ingresos) {
            $("#ingresos").html("Ingresos: " + i); 
          }
          else {
            $("#ingresos").html("Ingresos: " + ingresos); 
            clearInterval(refreshId_ingresos);
          }
        }, 1 * 10);

        var egresos = {{ egresos }};
        var egresos_string = egresos.toString();
        var i = 0;
        var factor_egresos = egresos / egresos_string.length / 10 ;
        refreshId_egresos = setInterval(function(){ 
          i = i + factor_egresos;
          if(i < egresos) {
            $("#egresos").html("Egresos: " + i); 
          }
          else {
            $("#egresos").html("Egresos: " + egresos); 
            clearInterval(refreshId_egresos);
          }
        }, 1 * 10)

    </script>
  {% endif %}

{% endblock %}

{% block footer %} 
  <div class="container-fluid">
    <table class="table table-striped order-list">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titulo</th>
          <th scope="col">Categoria</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Monto</th>
          <th scope="col">Gasto</th>
          <th scope="col">Tarjeta Credito</th>
          <th align="center">Edit</th>
          <th align="center">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for expense in non_paid_expenses %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{expense.name}}</td>
              <td>{{expense.category}}</td>
              <td>{{expense.cantidad_pendiente}}</td>
              <td>{{expense.pending_amount}}</td>
              <td>
                {% if expense.gasto == True %}
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" disabled="true" checked>
                    <label class="form-check-label"></label>
                  </div>
                {% else %}
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" disabled="true">
                    <label class="form-check-label"></label>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if expense.tarjeta_credito == True %}
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" disabled="true" checked>
                    <label class="form-check-label"></label>
                  </div>
                {% else %}
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" disabled="true">
                    <label class="form-check-label"></label>
                  </div>
                {% endif %}
              </td>
              <td align="left">
                <a href="{% url 'gastos:update_expense' pk=expense.pk %}">
                  <i class='fas fa-pencil-alt' alt="Editar"></i>
                </a>
              </td>
              <td align="left">
                <a href="{% url 'gastos:delete_expense' pk=expense.pk %}">
                  <i class='far fa-trash-alt' alt="Eliminar"></i>
                </a>
                
              </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'presupuesto:create_expense' pk=budget.pk %}" class='btn btn-md btn-fill btn-primary'>
          Crear nuevo ingreso / gasto
        </a>
  </div>
  
{% endblock %}

