{% extends "budgetsapp/budget_base.html" %}
{% load bootstrap3 %}

{% block group_content %}

	<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
	
	<div class="col-md-6 order-md-1">
		{% if budget.pk != null  %}
			<h4>Actualizar presupuesto</h4>
		{% else %}
			<h4>Crear un nuevo presupuesto</h4>
		{% endif %}	

		<form method="POST">
			{% csrf_token %}
			{% bootstrap_form form %}			

			{% if budget.pk != null  %}
				<input type="submit" class='btn btn-primary btn-large' value="Actualizar">
			{% else %}
				<input type="submit" class='btn btn-primary btn-large' value="Crear">
			{% endif %}	
			
		</form>
	</div>
	
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
	  $(function() {
	    $( ".datepicker" ).datepicker({
	      changeMonth: true,
	      changeYear: true,
	      yearRange: "2015:2030",
	      // You can put more options here.

	    });
	  });
	</script>

{% endblock %}