{% extends "budgetsapp/budget_base.html" %}

{% block pregroup %}
	<div class="col">
		<div class="content">
			{% if user.is_authenticated  %}
				<h2>Hola {{user.username}}!</h2>
			{% endif %}	
			<h3>Mis presupuestos</h3>
			{% if user.is_authenticated  %}
				<a href="{% url 'presupuestos:create' %}" class='btn btn-md btn-fill btn-warning'>
					Crear nuevo presupuesto
				</a>
			{% endif %}	
		</div>	
	</div>
	
{% endblock %}

{% block postgroup %}
	
	<div class="col order-1">
		<div class="list-budget">
			{% if object_list.count == 0  %}
				<h1>Todavia no tienes presupuestos.</h1>
			{% endif %}
			{% for budget in object_list %}
				<div class='list-group-item list-group-item-action'>
					<a href="{% url 'presupuestos:detail' pk=budget.pk %}">
						<h3 class='title list-group-item-heading'>{{budget.name|title}}</h3>
					</a>
					<p>{{ budget.description }}</p>
					{% if budget.expired_date != None %}
						<p>{{ budget.expired_date|date:"d M Y" }}</p>
					{% endif %}
				</div>
			{% endfor %}
		</div>	
	</div>

{% endblock %}
